.dropdown__menu {
    display: flex;
    border-bottom: 1px solid black;
    animation: fadeIn ease-in-out .5s;
    animation-fill-mode: forwards;
    position: relative;
}

.dropdown__menu__info {
    margin-left: 2rem;
}

.dropdown__menu__description {
    color: #818181;
    line-height: 1.5rem;
}

.dropdown__menu__title {
    color: black;
}

@keyframes fadeIn {
    from {opacity: 0; top: 4px;}
    to {opacity: 1; top: 0px;}
  }