.navMenu {
    position: absolute;

    width: 30rem;
}

.websiteHeader {
    display: flex;
    align-items: flex-start;

}


.menu__items {
    display: flex;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 700;
}

.menu__item {
    list-style-type: none;
    color: white;
}