.detailPageSectionInfo__wrapper {
    display: flex;
}

.directionLeft {
    display: flex;
    flex-direction: row-reverse;
}

.detailPageSectionInfo__paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 10rem;
    margin-right: 10rem;
}

.detailPageSectionInfo__title {
    font-size: 3rem;
    width: 65%;
    color: #5375FF;
}

.detailPageSectionInfo__paragraph {
    line-height: 2.5rem;
    font-size: 1.3rem;
    color: #1E1E1E;
}