.navMenu {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 25rem;
}

.menu__items {
    display: flex;
    justify-content: center;
    padding: 0;
    text-decoration: none;
}

.menu__item {
    list-style-type: none;
    color: white;
}